* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;;
}

.title-section {
  background-image: url("./../images/apple-pie.jpg");
  background-size: cover;
  background-repeat: no-repeat;;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-weight: 100;
  font-size: 60px;
}

.description-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-text-cont {
  width: 50%;
  text-align: center;
  margin: 25px 0;
  font-size: 23px;
}

.description-img-cont {
  width: 50%;
  height: 80px;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.description-section img {
  width: 30%;
  margin-bottom: 40px;
}

.ingredients-section, .directions-section {
  display: flex;
  justify-content: center;
}

.ingredients-cont, .directions-cont {
  width: 50%;
}

h2 {
  margin-bottom: 5px;
}

ul, ol {
  padding-left: 5px;
}

.ingredients-list > li {
  list-style-type: none;
  font-size: 20px;
}

.ingredients-img-cont {
  border-bottom: 2px solid black;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ingredients-img-cont img {
  width: 30%;
  margin-bottom: 40px;
}

.directions-cont li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 20px;
}